body{
  /* background-image: url(cvetovaya-palitra-4315.png); */
  background-color: #f6fafb;
}
 img {
    display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     height: 75%;
     border-radius: 5%;
 }

caption{
  text-align: left;
}

th {
  text-align: left;
}

.brd {
  border: 4px
  double: black;
  background: #c1c8c7;
  padding: 10px;
  width: 50%;
  border-radius: 7%;
}

.table{
	border: 1px solid #5e6668;
	table-layout: fixed;
	width: 50%;
	margin-bottom: 20px;
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #f6fafb;
	border: 1px solid #5e6668;
}
.table td{
	padding: 5px 10px;
	border: 1px solid #5e6668;
	text-align: left;
}
.table tbody tr:nth-child(odd){
	background: #f6fafb;
}
.table tbody tr:nth-child(even){
	background: #f6fafb;
}

.tat {
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;

}
.tat td, .tat th{
  border: 1px solid black;
  border-collapse: collapse;
}

a:visited { color: #d49c6b; text-decoration: underline; text-decoration-color: #c1c8c7}
a:active { color: black; text-decoration: underline }
a:hover { color: #c1c8c7; text-decoration: none }
